.pharmacyWrapper {
    text-align: center;
}
.searchDiv ul li {
    display: inline-block;
    margin: 14px 17px 17px 14px;
    /* You can also add some margins here to make it look prettier */
    zoom: 1;
    *display: inline;
    float: left;
    width:100%;
    min-width:100%;
    /* this fix is needed for IE7- */
}
.Deliverable span{
    color:darkgreen;
    font-family: 'Times New Roman';
    font-size: 12px;

}

.Undeliverable span{
    color:red;
    font-family: 'Times New Roman';
    font-size: 12px;

}
.checkDelivery{
    margin:auto;
    width:90%;
    min-width:90%;
}

.searchDiv{
    margin:auto;
    width:90%;
    min-width:90%;
}
.Order{
    width:100%;    
    margin:auto;
    text-align:center;
}
#mapCanvas{   
    width: 100%;    
    position: relative; 
    height: 400px;
}
#pinCode
{
    width:100%;
    min-width:100%;
}
.drugText
{
    width:25%;
    min-width:25%;
}
.StoreLocator
{
    width:90%;
    min-width:90%;
    margin:auto;
}
.distance
{
     width:90%;
    min-width:90%;
}