.Test {
    width: 90%;
    min-width: 90%;
}

#testName {
    width: 100%;
    min-width: 100%;
}

.docResults {
    font-size:13px;
    border:1px solid #d6d6d6;
    border-bottom:0;
    color:#6f6f6f;
    /*float:right;*/
    width:100%;
    box-sizing:border-box;
}
.doclist-row{
    padding:15px;
    border-bottom: 1px solid #d6d6d6;
    height:100px;
    /*min-height:100px;
    max-height:250px;*/
}
.docPhoto{
    width:120px;
    /*float:left;*/
    box-sizing:border-box;
}
.doc_avatar {
     max-width:100px;
     border-radius:3px;
     max-height:60px;
}
.doc-details {
    width:358px;
    margin-top: -8%;
    margin-left:10%;
    float:left;
    box-sizing:border-box;
}
a.link{
    cursor:pointer;
    color:#287792;
    text-decoration:none;
}
.doc-name{
    font-size:20px;
    font-weight:bold;
}
.doclist-row h2{
    max-width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.doc-name h2{
    color:#49b1d1;
    font-size:16px;
    margin:0;
    line-height:22px;
}
.doc-specialities,.doc-qualifications{
    font-weight:bold;
    line-height:1.2;
    max-width:100%;
    color:#7f7f7f;
    text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    display:block;
    vertical-align:text-bottom;
    margin-top:-4px;
}
.doc-specialities a:visited .doc-clinic-name a,.doc-clinic-name a:visited{
    text-decoration:none;
    display:inline-block;
}

.doc-qualifications{
    line-height:1.5;
    margin-top:5px;
}
.doc-clinic-name{
    margin:4px 0;

}
.doc-availability-block{
    width:240px;
    float:left;
    box-sizing:border-box;
    margin-top:-10px;
}
.recommend{
    line-height:20px;
    margin-bottom:8px;
    padding-left:25px;
    font-weight:bold;
    font-size:18px;
    color:#48b1d1;
    margin-top:-20%
}

.recommend span{
    vertical-align:baseline;
    font-size:13px;
    font-weight:normal;
}
.locality{
    line-height:20px;
    margin-bottom:8px;
    padding-left:25px;
}
.fees{
    line-height:20px;
    margin-bottom:8px;
    padding-left:25px;
}
.timings{
    margin-bottom:8px;
    margin-left:10%;
}
.strong{
    font-weight:bold;
}
.hours-timing{
    font-weight:lighter;
    letter-spacing:.05px;
}
.bookToggle{
    background-color:#44c767;
    -moz-border-radius:28px;
    webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-top:-5%;
}
